body,
html {
    height: 100%;
    font-family: PMingLiU, simfang;
    /* font-family: "PMingLiU",
        "Inconsolata",
        sans-serif,
    ; */
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: rgb(82, 82, 82);

}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("img/Ai_Dark.png");
    min-height: 75%;
}

.menu {
    display: none;
}

.my_center {
    display: flex;
    justify-content: center;
    align-items: center;
}